// NewsDetail.module.scss
@use "@/styles/variables" as *;

.detail {
  display: flex;
  flex-direction: column;
  padding: 6rem $container-padding;
  padding-bottom: 8REM;
  color: $color-white;
  background-color: $color-black;
  margin-top: var(--header-height, 119px);


  @media (min-width: 1100px) {
    flex-direction: row;
    gap: 2rem;
  }
}

.imageWrapper {
  flex: 0 0 auto;
  width: 100%;
  aspect-ratio: 440 / 300;
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    width: 440px;
    margin-bottom: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right:4rem ;
}

.title {
  font-size: font-size(h1);
  font-weight: $font-weight-semibold;
}

.date {
  opacity: 0.5;
  font-size: font-size(text);
}

.text {
  white-space: pre-line;
  font-size: font-size(h2);
  line-height: 1.6;
}
.fullText{
  white-space: pre-line;
  font-size: font-size(text);
  line-height: 1.6;
  opacity: 83%;
}
.mobileMenu {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - $header-height); // ниже хедера
  background: $color-black;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li + li {
    margin-top: 1rem;
  }

  a, button {
    color: $color-white;
    background: none;
    border: none;
    font-size: 1rem;
    text-align: left;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mobileToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  img {
    width: 12px;
    height: 12px;
    transition: transform 0.3s ease;
  }
}

.submenu {
  margin-top: 0.5rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  a {
    font-size: 0.95rem;
  }
}

.rotated {
  transform: rotate(90deg);
}

.mobileCta {
  margin-top: auto;
  padding-top: 2rem;
}
